@{
    ViewBag.Title = "About";
}
<p>It is a website where the user can make his own list of albums, songs and artists.</p>

<p>The user can add a description to an album. It can also make a list of favorite songs and embed youtube videos</p>
