@{
    ViewBag.Title = "About";
}
<div class="aboutbg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="abouttitlepage">
                    <h2>about</h2>
                </div>
            </div>
        </div>
    </div>

</div>
<h2>It is a website where the user can view a list of albums, songs and artists.</h2>
<h2>The user can view  description to an album. Also he can also embed youtube videos</h2>

<!-- music-box  -->
<div class="music-box about">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="for-box">
                    <i><img src="~/icon/icon1.png" alt="icon" /></i>
                    <h3>Custom Player</h3>
                    <p>t is a long established fact that a reader will be distracted by the readable </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="for-box">
                    <i><img src="~/icon/icon2.png" alt="icon" /></i>
                    <h3>Easy customize</h3>
                    <p>t is a long established fact that a reader will be distracted by the readable </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="for-box">
                    <i><img src="~/icon/icon3.png" alt="icon" /></i>
                    <h3>Music Playlist</h3>
                    <p>t is a long established fact that a reader will be distracted by the readable </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="for-box">
                    <i><img src="~/icon/icon4.png" alt="icon" /></i>
                    <h3>Custom Gallery</h3>
                    <p>t is a long established fact that a reader will be distracted by the readable </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end music-box  -->
